<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471056067046-bu8cg7lqq7odgie46ho6u2006cjge891.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471056067046-bu8cg7lqq7odgie46ho6u2006cjge891</string>
	<key>API_KEY</key>
	<string>AIzaSyCfZ_EgPw-_bM3DEoh5sSoTir3HKe6CCf4</string>
	<key>GCM_SENDER_ID</key>
	<string>471056067046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephen.mzansichat</string>
	<key>PROJECT_ID</key>
	<string>mzanzi-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>mzanzi-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471056067046:ios:1626bd04846277421fce27</string>
</dict>
</plist>